<div class="item-navigation">
  <%= link_to edit_restaurant_path(restaurant), title: restaurant.name,
    target: "_self" do %>
    <div class="row">
      <div class="col-auto">
        <i class="fas fa-utensils-alt"></i>
      </div>
      <div class="col"><%= restaurant.name %></div>
      <div class="col-auto">
        <i class="nav-icon-arrow-thin down"></i>
      </div>
    </div>
  <% end %>
  <div class="sub-navigation">
    <%= link_to edit_restaurant_path(restaurant), class: "item-navigation",
      title: t("update_info"), target: "_self" do %>
      <div class="row">
        <div class="col-auto">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="col"><%= t "update_info" %></div>
        <div class="col-auto">
          <i class="nav-icon-arrow-thin right"></i>
        </div>
      </div>
    <% end %>
    <%= link_to dishes_path(res_id: restaurant.id), class: "item-navigation",
      title: t("dishes_list"), target: "_self" do %>
      <div class="row">
        <div class="col-auto">
          <i class="fas fa-file-alt"></i>
        </div>
        <div class="col"><%= t"dishes_list" %></div>
        <div class="col-auto">
          <i class="nav-icon-arrow-thin right"></i>
        </div>
      </div>
    <% end %>
    <%= link_to "", class: "item-navigation", title: t("combos_list"),
      target: "_self" do %>
      <div class="row">
        <div class="col-auto">
          <i class="fas fa-file-alt"></i>
        </div>
        <div class="col"><%= t "combos_list" %></div>
        <div class="col-auto">
          <i class="nav-icon-arrow-thin right"></i>
        </div>
      </div>
    <% end %>

    <%= link_to orders_restaurant_path(restaurant), class: "item-navigation", title: t("all_order"),
    target: "_self" do %>
      <div class="row">
        <div class="col-auto">
          <i class="fas fa-file-alt"></i>
        </div>
        <div class="col"><%= t "all_order" %></div>
        <div class="col-auto">
          <i class="nav-icon-arrow-thin right"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>
