<div class="item-restaurant">
  <%= link_to restaurant, class: "item-content", target: "_blank" do %>
    <div class="img-restaurant">
      <%= image_tag restaurant.res_image, class: "" %>
    </div>
    <div class="info-restaurant">
      <div class="info-basic-res">
        <h4 class="name-res" title=<%= restaurant.name %>>
          <%= restaurant.name%>
        </h4>
        <div class="address-res" title=<%= restaurant.address %>>
          <%= restaurant.address %>
        </div>
      </div>
      <p class="content-promotion">
        <i class="fas fa-tag"></i>
        <%= t "sale_all" %>
      </p>
      <div class="opentime-status">
        <span class="stt online" title=<%= t "open" %>></span>
      </div>
    </div>
  <% end %>
</div>
