<div class="block-section">
  <div class="container">
    <div class="now-incoming incoming-full">
      <div class="slick-slider slick-initialized">
        <div class="slick-list">
          <div class="slick-track">
          </div>
        </div>
      </div>
    </div>
    <div class="now-incoming incoming-full mt-5">
      <div class="slick-slider slick-initialized">
        <div class="slick-list">
          <div class="slick-track"></div>
        </div>
      </div>
    </div>
    <div class="table-cancel-confirm-container">
    </div>
    <h1 class="block-title mb-4 text-center"><%= t "all_order" %></h1>
    <div class="history-switch">
      <div class="item now active"><%= t "welcome" %></div>
    </div>
    <div class="history-table-container">
      <div class="filter-table">
        <div class="filter-table-item ">
          <div class="text-nowrap">
            <span class="filter-table-label"><%= t "status" %></span>
            <select name="" class="form-control filter-table-input">
              <option value="" selected=""><%= t "all" %></option>
              <option value=""><%= t "complete" %></option>
              <option value=""><%= t "cancel" %></option>
            </select>
          </div>
        </div>
        <div class="filter-table-item">
        </div>
        <div class="filter-table-item">
        </div>
        <div class="filter-table-item">
          <button type="button" class="btn btn-sm"><%= t "search" %>
          </button>
        </div>
      </div>
      <div class="history-table1">
        <div class="history-table1-row history-table-heading">
          <div class="history-table1-cell history-table1-col1"><%= t "number" %></div>
          <div class="history-table1-cell history-table1-col2"><%= t "customer_name" %></div>
          <div class="history-table1-cell history-table1-col3"><%= t "time" %></div>
          <div class="history-table1-cell history-table1-col4"><%= t "place" %></div>
          <div class="history-table1-cell history-table1-col5"><%= t "total_money" %></div>
          <div class="history-table1-cell history-table1-col6"><%= t "status" %></div>
          <div class="history-table1-cell history-table1-col7"><%= t "details" %></div>
          <div class="history-table1-cell history-table1-col8"><%= t "action" %></div>
        </div>
        <% @orders.each_with_index do |order, index| %>
          <div class="history-table1-row ">
            <div class="history-table1-cell history-table1-col1">
              <%= page_index params[:page], index, Settings.order_page %>
            </div>
            <div class="history-table1-cell history-table1-col2">
              <%= order.user_name %>
            </div>
            <div class="history-table1-cell history-table1-col3">
              <%= order.created_at.strftime(Settings.time_format) %>
            </div>
            <div class="history-table1-cell history-table1-col4">
              <%= order.address %>
            </div>
            <div class="history-table1-cell history-table1-col5">
              <%= order.total_money %>
            </div>
            <div class="history-table1-cell history-table1-col6" id="order_status_<%= order.id %>">
              <%= order.status.humanize %>
            </div>
            <div class="history-table1-cell history-table1-col7">
              <%= link_to t("detail"), order_details_path(id: order.id) %>
            </div>
            <div class="history-table1-cell history-table1-col8" id ="render_button_<%= order.id %>">
              <%= render "shared/button", order: order %>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate @orders %>
    </div>
  </div>
</div>
