<div class="container">
  <%= render "shared/res_navigation" %>
  <div class="now-detail-profile">
    <div class="header-user-profile">
      <%= t "combos_list" %>
      <div class="create-combo">
        <%= link_to new_combo_path(res_id: @restaurant.id), remote: true do %>
          <button class="btn btn-primary new-res-btn">
            <i class="fas fa-plus"></i>
            <%= t "new_combo" %>
          </button>
        <% end %>
      </div>
    </div>
    <div class="dishes-list">
      <div class="dishes-table">
        <div class="dishes-table-row dishes-table-heading">
          <div class="dishes-table-cell dishes-table-col1"><%= t "num" %></div>
          <div class="dishes-table-cell dishes-table-col2">
            <%= t "combo_name" %>
          </div>
          <div class="dishes-table-cell dishes-table-col3">
            <%= t "image" %>
          </div>
          <div class="dishes-table-cell dishes-table-col4">
            <%= t "price" %>
          </div>
          <div class="dishes-table-cell dishes-table-col5">
            <%= t "description" %>
          </div>
          <div class="dishes-table-cell dishes-table-col6">
            <%= t "is_ordered" %>
          </div>
          <div class="dishes-table-cell dishes-table-col7">
            <%= t "action" %>
          </div>
        </div>
        <% @combos.each_with_index do |combo, n| %>
          <div class="dishes-table-row dishes-table-item">
            <div class="dishes-table-cell dishes-table-col1"><%= n+1 %></div>
            <div class="dishes-table-cell dishes-table-col2">
              <%= combo.name %>
            </div>
            <div class="dishes-table-cell dishes-table-col3">
              <%= image_tag combo.image %>
            </div>
            <div class="dishes-table-cell dishes-table-col4">
              <%= combo.price %> đ
            </div>
            <div class="dishes-table-cell dishes-table-col5">
              <%= combo.description %>
            </div>
            <div class="dishes-table-cell dishes-table-col6">
              <%= combo.orders.size %>
            </div>
            <div class="dishes-table-cell dishes-table-col7">
              <%= link_to t("edit"), edit_combo_path(combo), remote: true %>
              &nbsp;
              <%= link_to t("delete"), "", class: "delete-dish" %>
            </div>
          </div>
        <% end %>
        <%= paginate @combos %>
      </div>
    </div>
  </div>
</div>
<%= render "combo_modal" %>
<%= render "dishes_list_modal" %>
