<header class="main-header">
  <div class="container-header">
    <div class="container">
      <div class="header-content navbar row justify-content-between
        align-items-center">
        <div class="logo-now col-auto">
          <span>
            <%= link_to image_tag("logo.png", alt:"rails_logo",
            class: "cover"), "#" %>
          </span>
        </div>
        <div class="main-nav col">
          <a class="nav-item active" href="#"><%= t "restaurant" %></a>
        </div>
        <div class="user-acc col-auto">
          <button type="button" class="btn btn-none-bg btn-login">
            <% if logged_in? %>
              <li class="dropdown">
                <%= link_to( "#", class: "dropdown-toggle",
                  data:{toggle: "dropdown"}) do %>
                  <%= current_user.name %>
                  <b class="caret"></b>
                <% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to t("order_history"), "#" %></li>
                  <li><%= link_to t("update_account"), current_user %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to t("logout"), logout_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <%= link_to t("log_in"), login_path %>
            <% end %>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
