<% provide :title, t("sign_up") %>
<div class="signup-container">
  <div class="content">
    <h1 class="text-center mb-2">
      <%= t "sign_up" %>
    </h1>
    <%= form_for resource, as: resource_name,
      url: registration_path(resource_name) do |f| %>
      <div class="row">
        <div class="col-md-6 mlr-auto">
          <%= devise_error_messages! %>
          <div class="form-group mb-4">
            <%= f.label t "name" do %>
              <%= t "name" %>
              <span class="form-required">*</span>
            <% end %>
            <%= f.text_field :name, class: "form-control required",
              required: true, placeholder: t("name") %>
          </div>
          <div class="form-group mb-4">
            <%= f.label t "email" do %>
              <%= t "email" %>
              <span class="form-required">*</span>
            <% end %>
            <%= f.email_field :email, class: "form-control required",
              required: true, placeholder: t("email") %>
          </div>
          <div class="form-group mb-4">
            <%= f.label t "phone_number" do %>
              <%= t "phone_number" %>
              <span class="form-required">*</span>
            <% end %>
            <%= f.text_field :phone_number, class: "form-control required",
              required: true, placeholder: t("phone_number") %>
          </div>
          <div class="form-group mb-4">
            <%= f.label t "password" do %>
              <%= t "password" %>
              <span class="form-required">*</span>
            <% end %>
            <%= f.password_field :password, class: "form-control required",
              required: true, placeholder: t("password") %>
          </div>
          <div class="form-group mb-4">
            <%= f.label t "password_confirmation" do %>
              <%= t t "password_confirmation" %>
              <span class="form-required">*</span>
            <% end %>
            <%= f.password_field :password_confirmation, required: true,
            class: "form-control required", placeholder: t("password") %>
          </div>
          <%= f.submit t("create_my_account"),
            class: "btn btn-primary sm-signup" %>
        </div>
      </div>
    <% end %>
    <div class="divider-text mb-4">
      <span class="text text-gray-650">
        <%= t "or" %>
      </span>
    </div>
    <p class="text-center mb-4">
      <span class="text-gray-500">
        <%= t "haved_account" %>
      </span>
      <%= link_to t("log_in"), signin_path, class: "text-primary" %>
    </p>
  </div>
</div>
